.add-country {
  padding-top: 80px;
  flex: 1;
}

.add-country .add-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.add-country .page-title p {
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
}

.add-country .form-group {
  margin-bottom: 15px;
}

.add-country .form-group label {
  font-size: 15px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 6px;
}

.add-country .form-control {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: black;
  padding-bottom: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.add-country .submit-btn {
  width: 150px;
  text-transform: uppercase;
}
