.change-password {
  background-image: url('../images/background.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.change-password .white-top-logo {
  margin-bottom: 20px;
}

.change-password .form-content {
  background-color: white;
  width: 500px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 25px 50px;
}

.change-password .change-password-heading h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

.change-password .change-password-heading p {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #333333;
}

.change-password .form-group {
  margin-bottom: 8px;
}

.change-password .form-group label {
  font-size: 15px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 5px;
}

.change-password .form-group .form-control {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.change-password .change-password-btn {
  width: 100%;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 5px;
}

.change-password .password {
  position: relative;
}

.change-password .password span {
  position: absolute;
  top: 37px;
  right: 12px;
}

@media (min-width: 425px) and (max-width: 767.99px) {
  .change-password .form-content {
    width: 350px;
    padding: 20px;
  }
  .change-password .change-password-heading h3 {
    line-height: 28px;
  }
  .change-password .change-password-heading p {
    margin-bottom: 10px;
  }
  .change-password .form-group label {
    font-size: 14px;
    margin-bottom: 4px;
  }
}
