.login-page {
  background-image: url("../images/background.jpg");
  /* height: 100vh; */
  min-height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-page .white-top-logo {
  margin-bottom: 20px;
}

.login-page .form-content {
  background-color: white;
  width: 500px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 25px 50px;
}

.login-page .login-heading h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  color: #6255a5;
}

.login-page .login-heading p {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #333333;
}

.login-page .form-group {
  margin-bottom: 8px;
}

.login-page .form-group label {
  font-size: 15px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 5px;
}

.login-page .form-group .form-control {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.login-page .form-check {
  line-height: 20px;
}

.login-page .form-check-input:checked {
  background-color: #6255a5;
  border-color: #6255a5;
}

.login-page .login-btn {
  width: 100%;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  padding: 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.login-page .login-btn.Mui-disabled {
  color: white;
}

.login-page .password-input {
  position: relative;
}

.login-page .password-input span {
  position: absolute;
  top: 10px;
  right: 12px;
}

.login-page .pass-and-forgetPass {
  display: flex;
  justify-content: space-between;
}

.login-page .pass-and-forgetPass a {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}

.login-page .sign-up-text {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 0px;
  margin-top: 15px;
}

.error-text {
  color: red;
  font-size: 12px;
}

.form-group .form-control.invalid {
  border-color: red !important;
}

.error {
  color: red;
}

.success-text {
  color: green;
  font-size: 14px;
}

@media (min-width: 425px) and (max-width: 767.99px) {
  .login-page .form-content {
    width: 350px;
    padding: 20px;
  }
  .login-page .login-heading h3 {
    line-height: 28px;
  }
  .login-page .login-heading p {
    margin-bottom: 10px;
  }
  .login-page .form-group label,
  .login-page .pass-and-forgetPass a {
    font-size: 14px;
    margin-bottom: 4px;
  }
}
