.my-rejected-note {
  padding-top: 80px;
}

.my-rejected-note .my-rejected-note-table {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-rejected-note .my-rejected-note-table .stats-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-rejected-note .my-rejected-note-table .page-title p {
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  color: #6255a5;
  margin-bottom: 0;
}

.my-rejected-note .stats-heading .search {
  display: flex;
}

.my-rejected-note .search .has-search {
  position: relative;
  margin-right: 10px;
  margin-bottom: 0px;
}

.my-rejected-note .search .search-icon {
  position: absolute;
  top: 12px;
  left: 10px;
}

.my-rejected-note .search input {
  padding-left: 30px;
}

.my-rejected-note table {
  table-layout: auto !important;
}

.my-rejected-note table td.ant-table-cell-ellipsis {
  max-width: 200px;
}

.my-rejected-note table td.ant-table-cell-ellipsis span {
  color: rgba(0, 0, 0, 0.85);
}
